<div class="jumbotron ">
    <div class="row button-row ">
        <button ng-show="authService.isCOLoggedIn()" type="submit" class="btn btn-primary btn-xs" ng-click="showAddEnumModal()"><i class="fa fa-plus" aria-hidden="true"></i>Add</button>
        <button ng-show="authService.isCOLoggedIn()" ng-disabled="!selectedEntity" type="submit" class="btn btn-rtmms btn-xs" ng-click="showEditEnumModal(selectedEntity)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
        <button ng-show="authService.isCOLoggedIn() || authService.isRevLoggedIn()" ng-disabled="!selectedEntity" type="submit" class="btn btn-rtmms btn-xs" ng-click="showAddCommentModal(selectedEntity)"><i class="fa fa-comments" aria-hidden="true"></i> Comments</button>
        <button ng-show="authService.isLoggedIn() " ng-disabled="selectedEntity.term.refid === undefined || selectedEntity.term.status !== undefined" type="submit" class="btn btn-primary btn-xs" ng-click="propose(selectedEntity)">Propose</button>
        <button ng-show="authService.isLoggedIn()" ng-disabled="selectedEntity.term.status !== 'pMapped'" type="submit" class="btn btn-primary btn-xs" ng-click="proposeMap(selectedEntity)">Propose Mapping</button>
        <div style="display: inline" dropdown on-toggle="toggled(open)" ng-show="authService.isLoggedIn()">
            <button type="button" class="btn btn-primary btn-xs" dropdown-toggle aria-expanded="false">
            <i class="fa fa-download" aria-hidden="true"></i> 
            Download
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu " role="menu">
                <li><a class="point" ng-click="downHTML()"> HTML</a></li>
                <li><a class="point" ng-click="downXML()"> XML</a></li>
                <li><a class="point" ng-click="downCSV()"> CSV</a></li>

            </ul>
        </div>
    </div>
    <div class="row">
        <div ng-show="authService.isCOLoggedIn() ||authService.isRevLoggedIn()" ui-grid="gridOptions" ui.grid.resizeColumns ui-grid-selection ui-grid-pagination class="grid rosetta-grid"></div>
        <div ng-show="!authService.isCOLoggedIn() && !authService.isRevLoggedIn()" ui-grid="gridOptions" ui.grid.resizeColumns ui-grid-pagination class="grid rosetta-grid"></div>
    </div>
</div>
<script type="text/ng-template" id="popover">
    <div class="triangle"></div>
    <div class="modal-header">
        <h3 class="modal-title">Enum information</h3>
    </div>
    <table class="table" border="1" style="border:1px solid black;">
        <tr>
            <th>Enum Groups</th>
            <td>
                <table>
                    <tr ng-repeat="groups in row.entity.enumGroups">
                        <td>{{groups.groupName}}</td>
                    </tr>
                </table>
        </tr>
        <tr>
            <th>REFID</th>
            <td>{{row.entity.term.refid}}</td>
        </tr>
        <tr>
            <th>PART</th>
            <td>{{row.entity.term.partition}}</td>
        </tr>
        <tr>
            <th>CODE10</th>
            <td>{{row.entity.term.code10}}</td>
        </tr>
        <tr>
            <th>CF_CODE10</th>
            <td>{{row.entity.term.cfCode10}}</td>
        </tr>

        <tr>
            <th>Systematic Name</th>
            <td>{{row.entity.term.systematicName}}</td>
        </tr>
        <tr>
            <th>Common Term</th>
            <td>{{row.entity.term.commonTerm}}</td>
        </tr>
        <tr>
            <th>Acronym</th>
            <td>{{row.entity.term.acronym}}</td>
        </tr>
        <tr>
            <th>Term Description</th>
            <td>{{row.entity.term.termDescription}}</td>
        </tr>
        <tr>
            <th>Token</th>
            <td>{{row.entity.token}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{row.entity.description}}</td>
        </tr>



        <tr>
            <th>Tags</th>
            <td>
                <table>
                    <tr ng-repeat="tags in row.entity.tags">
                        <td>{{tags}}</td>
                    </tr>
                </table>
        </tr>
    </table>
    <button class="glyphicon glyphicon-plus" ng-click="collapse=!collapse" style="background:none; border:none;"></button><b>Comments</b>:
    <div ng-repeat="comment in row.entity.comments">
        <p ng-show=collapse> {{comment.text}} -- by {{comment.author.name}} ({{comment.author.co}}) -- {{comment.date| date:"MMM d, y h:mm a '(GMT' Z)"}} </p>
    </div>
    <br><b>Status</b>:
    <p ng-show="row.entity.term.status==='rMapped'">Mapped ready to be approved</p>
    <p ng-show="row.entity.term.status===undefined">New term waiting to be proposed</p>
    <p ng-show="row.entity.term.status==='pMapped'">Mapped waiting to register Refid</p>
    <p ng-show="row.entity.term.status!=='rMapped' && row.entity.term.status!=='pMapped'">{{row.entity.term.status}}</p>
</script>