<div class="jumbotron">
    <div class="row" ng-init="getCOs()">
        <label>Choose a Contributing Organization</label>
        <select class="form-control" ng-model="co" ng-change="vendor()">
            <option ng-repeat="co in cos" value="{{co}}"> {{co.name}}</option>
        </select>
    </div>
    <div class="row button-row ">
        <button ng-show="authService.isLoggedIn()" type="submit" class="btn btn-primary" ng-click="showAddRosettaModal()">Add</button>
        <button ng-show="authService.isLoggedIn()" ng-disabled="!selectedEntity" type="submit" class="btn btn-rtmms" ng-click="showEditRosettaModal(selectedEntity)">Edit</button>
        <button ng-show="authService.isLoggedIn()" ng-disabled="selectedEntity.term.refid === undefined || selectedEntity.term.status !== undefined" type="submit" class="btn btn-primary" ng-click="propose(selectedEntity)">Propose</button>
        <button ng-show="authService.isLoggedIn()" ng-disabled="selectedEntity.term.status !== 'pMapped'" type="submit" class="btn btn-primary" ng-click="proposeMap(selectedEntity)">Propose Mapping</button>
    </div>
    <div class="row">
        <div ui-grid="gridOptions" ui.grid.resizeColumns ui-grid-selection ui-grid-pagination class="grid rosetta-grid"></div>
    </div>
</div>
<script type="text/ng-template" id="popover">
    <div class="triangle"></div>
    <div><b>Groups</b>:
        <table border="1" align="center">
            <tr ng-repeat="groups in row.entity.groups">
                <td>
                    {{groups}}
                    <br>
                </td>
            </tr>
        </table>
        <br><b>REFID</b>: {{row.entity.term.refid}}
        <br><b>PART</b>: {{row.entity.term.partition}}
        <br><b>CODE10</b>: {{row.entity.term.code10}}
        <br><b>CF_CODE10</b>: {{row.entity.term.cfCode10}}
        <br><b>Display Name</b>: {{row.entity.displayName}}
        <br><b>Contributing Organization</b>: {{row.entity.contributingOrganization.name}}
        <br><b>Vendor_UOM</b>: {{row.entity.vendorUom}}
        <br><b>Vendor_VMD</b>: {{row.entity.vendorVmd}}
        <br><b>Systematic Name</b>: {{row.entity.term.systematicName}}
        <br><b>Common Term</b>: {{row.entity.commonTerm}}
        <br><b>Acronym</b>: {{row.entity.term.acronym}}
        <br><b>Term Description</b>: {{row.entity.term.termDescription}}
        <br><b ng-show="row.entity.units.length">Units:</b>
        <table ng-show="row.entity.units.length" border="1" align="center">
            <tr>
                <th>UOM_MDC_REFID</th>
                <th>UCODE10</th>
                <th>CF_UCODE10</th>
                <th>UOM_UCUM</th>
            </tr>
            <tr ng-repeat="unit in row.entity.units">
                <td>
                    {{unit.term.refid}} 
                </td>
                <td>
                    {{unit.term.code10}}
                </td>
                <td>
                    {{unit.term.cfCode10}}
                </td>
                <td >
                    <div ng-repeat="ucum in unit.ucums">
                    {{ucum.ucum}}
                    </div>
                </td>
            </tr>
        </table>
        <br><b ng-show="row.entity.enumGroups.length">Enum Group:</b>
        <table ng-show="row.entity.enumGroups.length" border="1" align="center">
            <tr>
                <th>Enum values</th>
                
            </tr>
            <tr ng-repeat="enum in row.entity.enumGroups">
                <td>
                    {{enum.groupName}} 
                </td>
               
            </tr>
        </table>
        <br><b ng-show="row.entity.enums.length">Enums:</b>
        <table ng-show="row.entity.enums.length" border="1" align="center">
            <tr>
                <th>Enum values</th>
                <th>ECODE10</th>
                <th>CF_ECODE10</th>
                <th>Token</th>
            </tr>
            <tr ng-repeat="enum in row.entity.enums">
                <td>
                    {{enum.term.refid}} 
                </td>
                <td>
                    {{enum.term.code10}}
                </td>
                <td>
                    {{enum.term.cfCode10}}
                </td>
                <td >
                    
                    {{enum.token}}
                    
                </td>
            </tr>
        </table>
        <br><b>Tags:</b>
        <div ng-repeat="tag in row.entity.tags">
            {{tag}}
            <br>
        </div>
        <br><b>Comments</b>:
        <div ng-repeat="comment in row.entity.comments">
            {{comment.text}} -- by {{comment.author.name}} ({{comment.author.co}}) -- {{comment.date| date:"MMM d, y h:mm a '(GMT' Z)"}}
            <br>
        </div>
        <br><b>Status</b>:{{row.entity.term.status}}
    </div>
</script>