<div class="jumbotron">
    <div class="row" ng-init="getCOs()" style="margin-bottom: 10px;">
        <div class="col-md-4" ng-init="getCOs()">
            <label>Filter by Contributing Organization</label>
            <select class="form-control" ng-model="co" ng-change="vendor()">
                <option value="all">All</option>
                <option ng-repeat="co in cos" value="{{co}}"> {{co.name}}</option>     
            </select>
        </div>
    </div>
    <div class="row button-row ">
        <button ng-show="authService.isLoggedIn()" type="submit" class="btn btn-primary btn-xs" ng-click="showAddRosettaModal()"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
        <button ng-show="authService.isLoggedIn()" ng-disabled="!selectedEntity" type="submit" class="btn btn-rtmms btn-xs" ng-click="showEditRosettaModal(selectedEntity)"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
        <button ng-show="authService.isLoggedIn()" class="btn btn-primary btn-xs" ng-click="clone(selectedEntity)" ng-disabled="!selectedEntity"><i ng-show="authService.isLoggedIn()" class="fa fa-clone" aria-hidden="true"></i> Duplicate</button>
        <button ng-show="authService.isLoggedIn()" class="btn btn-primary btn-xs" ng-click="deprecate(selectedEntity)" ng-disabled="!selectedEntity"><i class="fa fa-times" aria-hidden="true"></i> Deprecate</button>
        <button ng-show="authService.isCOLoggedIn() || authService.isRevLoggedIn()" ng-disabled="!selectedEntity" type="submit" class="btn btn-rtmms btn-xs" ng-click="showAddCommentModal(selectedEntity)"><i class="fa fa-comments" aria-hidden="true"></i>  Comments</button>

        <button ng-show="authService.isLoggedIn()" ng-disabled="selectedEntity.term.refid === undefined || selectedEntity.term.status !== undefined" type="submit" class="btn btn-primary btn-xs" ng-click="propose(selectedEntity)">Propose</button>
        <button ng-show="authService.isLoggedIn()" ng-disabled="selectedEntity.term.status !== 'pMapped'" type="submit" class="btn btn-primary btn-xs" ng-click="proposeMap(selectedEntity)">Propose Mapping</button>
        <!--<div style="display: inline" dropdown on-toggle="toggled(open)" ng-show="authService.isLoggedIn()">
            <button type="button" class="btn btn-primary btn-xs" dropdown-toggle aria-expanded="false">
            <i class="fa fa-download" aria-hidden="true"></i> 
            Download
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu " role="menu">
                <li><a class="point" ng-click="downHTML()"> HTML</a></li>
                <li><a class="point" ng-click="downXML()"> XML</a></li>
                <li><a class="point" ng-click="downCSV()"> CSV</a></li>

            </ul>
        </div>-->
        <div style="display: inline" dropdown on-toggle="toggled(open)" ng-show="authService.isLoggedIn()">
            <button type="button" class="btn btn-primary btn-xs" dropdown-toggle aria-expanded="false">
            <i class="fa fa-download" aria-hidden="true"></i> 
            Download
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu " role="menu">
                <li><a class="point" ng-click="downHTML()"> HTML</a></li>
                <li><a class="point" ng-click="downXML()"> XML</a></li>
                <li><a class="point" ng-click="downXMLInView()"> XMLInView</a></li>

                <li><a class="point" ng-click="downCSV()"> CSV</a></li>


            </ul>
        </div>
    </div>

    <div class="row">
        <div ui-grid="gridOptions" ui.grid.resizeColumns ui-grid-selection ui-grid-pagination class="grid rosetta-grid"></div>
    </div>
</div>
<script type="text/ng-template" id="popover">
    <div class="triangle"></div>
    <div class="modal-header">
        <h3 class="modal-title">Term information</h3>
    </div>
    <table class="table" border="1" style="border:1px solid black;">
        <tr>
            <th>Groups</th>
            <td>
                <table>
                    <tr ng-repeat="groups in row.entity.groups">
                        <td>{{groups}}</td>
                    </tr>
                </table>
        </tr>
        <tr>
            <th>REFID</th>
            <td>{{row.entity.term.refid}}</td>
        </tr>
        <tr>
            <th>PART</th>
            <td>{{row.entity.term.partition}}</td>
        </tr>
        <tr>
            <th>CODE10</th>
            <td>{{row.entity.term.code10}}</td>
        </tr>
        <tr>
            <th>CF_CODE10</th>
            <td>{{row.entity.term.cfCode10}}</td>
        </tr>
        <tr>
            <th>Display Name</th>
            <td>{{row.entity.term.displayName}}</td>
        </tr>
        <tr>
            <th>Contributing Organization</th>
            <td>{{row.entity.contributingOrganization}}</td>
        </tr>
        <tr>
            <th>Vendor_UOM</th>
            <td>{{row.entity.vendorUom}}</td>
        </tr>
        <tr>
            <th>Vendor_VMD</th>
            <td>{{row.entity.vendorVmd}}</td>
        </tr>
        <tr>
            <th>Systematic Name</th>
            <td>{{row.entity.term.systematicName}}</td>
        </tr>
        <tr>
            <th>Common Term</th>
            <td>{{row.entity.term.commonTerm}}</td>
        </tr>
        <tr>
            <th>Acronym</th>
            <td>{{row.entity.term.acronym}}</td>
        </tr>
        <tr>
            <th>Term Description</th>
            <td>{{row.entity.term.termDescription}}</td>
        </tr>
        <tr>
            <th>Tags</th>
            <td>
                <table>
                    <tr ng-repeat="tags in row.entity.tags">
                        <td>{{tags}}</td>
                    </tr>
                </table>
        </tr>
    </table>
    <b ng-show="row.entity.units.length">Units:</b>
    <br>
    <table ng-show="row.entity.units.length" class="table" border="1" style="border:1px solid black;">
        <tr>
            <th>UOM_MDC_REFID</th>
            <th>UCODE10</th>
            <th>CF_UCODE10</th>
            <th>UOM_UCUM</th>
        </tr>
        <tr ng-repeat="unit in row.entity.units">
            <td>
                {{unit.term.refid}}
            </td>
            <td>
                {{unit.term.code10}}
            </td>
            <td>
                {{unit.term.cfCode10}}
            </td>
            <td>
                <div ng-repeat="ucum in unit.ucums">
                    {{ucum.ucum}}
                </div>
            </td>
        </tr>
    </table>
    <b ng-show="row.entity.unitGroups.length">Unit Group:</b>
    <table ng-show="row.entity.unitGroups.length" class="table" border="1" style="border:1px solid black;">
        <tr>
            <th>UOM_MDC_REFID</th>
            <th>UCODE10</th>
            <th>CF_UCODE10</th>
            <th>UOM_UCUM</th>
        </tr>
        <tr ng-repeat="unitGroup in row.entity.unitGroups">
            <td>
                {{unitGroup.groupName}}
            </td>
            <td>
                {{unit.term.code10}}
            </td>
            <td>
                {{unit.term.cfCode10}}
            </td>
            <td>
                <div ng-repeat="units in unitGroup.units">
                    <div ng-repeat="ucum in units.ucums">
                        {{ucum.ucum}}
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <b ng-show="row.entity.enumGroups.length">Enum Group:</b>
    <table ng-show="row.entity.enumGroups.length" class="table" border="1" style="border:1px solid black;">
        <tr>
            <th>Enum values</th>
        </tr>
        <tr ng-repeat="enum in row.entity.enumGroups">
            <td>
                {{enum.groupName}}
            </td>
        </tr>
    </table>
    <b ng-show="row.entity.enums.length">Enums:</b>
    <table ng-show="row.entity.enums.length" class="table" border="1" style="border:1px solid black;">
        <tr>
            <th>Enum values</th>
            <th>ECODE10</th>
            <th>CF_ECODE10</th>
            <th>Token</th>
        </tr>
        <tr ng-repeat="enum in row.entity.enums">
            <td>
                {{enum.term.refid}}
            </td>
            <td>
                {{enum.term.code10}}
            </td>
            <td>
                {{enum.term.cfCode10}}
            </td>
            <td>
                {{enum.token}}
            </td>
        </tr>
    </table>
    <button class="glyphicon glyphicon-plus" ng-click="collapse=!collapse" style="background:none; border:none;"></button><b>Comments</b>:
    <div ng-repeat="comment in row.entity.comments">
        <p ng-show=collapse> {{comment.text}} -- by {{comment.author.name}} ({{comment.author.co}}) -- {{comment.date| date:"MMM d, y h:mm a '(GMT' Z)"}} </p>
    </div>
    <br><b>Status</b>:
    <p ng-show="row.entity.term.status==='rMapped'">Mapped ready to be approved</p>
    <p ng-show="row.entity.term.status===undefined">New term waiting to be proposed</p>
    <p ng-show="row.entity.term.status==='pMapped'">Mapped waiting to register Refid</p>
    <p ng-show="row.entity.term.status!=='rMapped' && row.entity.term.status!=='pMapped'">{{row.entity.term.status}}</p>
</script>