<div class="container">
    <hr>
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">
                   <button type="submit" class="glyphicon glyphicon-plus" ng-click="showAddUserModal()"></button>
Users</h3>
            </div>
            <table class="table" ng-init="getUsers()">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users" class="{{user.userStat}}">
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.userTypes.usertype}}</td>
                        <td>{{user.contributingOrganization}}</td>
                        <td></td>
                        <td>
                            <span class="glyphicon glyphicon-pencil" ng-click="showEditUserModal(user)"></span>
                            <span class="glyphicon glyphicon-trash" confirmed-click="removeUser($index,user)" ng-confirm-click="Would you like to delete this user?"></span>
                            <span class="glyphicon glyphicon-ok" ng-click="approveUser(user)"></span>
                            <span class="glyphicon glyphicon-remove" ng-click="refuseUser(user)"></span>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
