<div class="tags-wrapper">
    <div>
        <input type="text" placeholder="Add an enumeration or an enueration group" ng-keydown="checkKeyDown($event)" class="form-control" ng-model="searchText" ng-change="search()" ng-blur="hideResults()" />
    </div>
    <div>
        <div class="picker">
            <ul class="suggestions-list" ng-show="visible && suggestions.length>0">
                <li ng-repeat="enum in suggestions track by $index"  ng-mousedown="addToEnumLists($index)"  ng-mouseenter="$parent.selectedIndex=$index" ng-class="{active : selectedIndex===$index}"  ng-bind-html="enum | showEnumInfoOrGroupName"></li>
            </ul>
        </div>
    </div>
</div>