<div class="modal-header">
    <h3 ng-show="!editmode" class="modal-title">General comments</h3>
</div>
<div class="modal-body">
    <form name="commentForm">
        <div ng-repeat="comment in comments">
            {{comment.text}} -- by {{comment.author.name}} ({{user.contributingOrganization.name}}) -- {{comment.date| date:"MMM d, y h:mm a '(GMT' Z)"}} 
        </div>
        <div class="form-group">
            <label>Leave Comment</label>
            <input type="text" class="form-control" placeholder="Comment" ng-model="comment"></input>
        </div>
    </form>
</div>
<div class="modal-footer">
    <!-- createMember() WILL CREATE NEW Members -->
    <button ng-show="!editmode && !formUserForm.$invalid" type="submit" class="btn btn-primary" ng-click="addComment()">Add comment</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
