<div class="modal-header">
    <h3 ng-show="!editmode" class="modal-title">Add Enum</h3>
    <h3 ng-show="editmode" class="modal-title">Edit Enum</h3>
</div>
<div class="modal-body">
    <form class="formrosetta" name="formrosetta">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="groupInfo formField">
                        <div class="form-group-sm" ng-class="{ 'has-error' : groups.$invalid && !groups.$pristine}">
                            <label class="text-left">Groups:</label>
                            <tags-input class="bootstrap" ng-model="enumgroups" placeholder="Add a group" replace-spaces-with-dashes="false">
                                <auto-complete source="loadGroups($query)" min-length="0" debounce-delay="0" max-results="10"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="enumInfo formField">
                        <div class="form-group-sm" ng-class="{ 'has-error' : formrosetta.vendorDescription.$invalid && !formrosetta.vendorDescription.$pristine}">
                            <label class="text-left">Description:</label>
                            <input type="text" name="description" class="form-control  text-left" ng-model="formData.description" ng-required="true">
                        </div>
                    </div>
                    <div class="termInfo formField">
                        <div class="form-group-sm" ng-class="{ 'has-error' : formrosetta.refid.$invalid && !formrosetta.refid.$pristine}">
                            <div class="btn-group choice-btn-group refid-choice-btn-group">
                                <label class="choice btn btn-primary" ng-model="refidType " btn-radio="'new'" uncheckable>Propose new term</label>
                                <label class="choice btn btn-primary" ng-model="refidType" btn-radio="'existing'" uncheckable>Map existing term</label>
                            </div>
                            <div class="form-group-sm">
                                <div ng-show="refidType=='existing'" enum-refid-picker refids="formData.term" limit="5"></div>
                                <div ng-show="refidType=='new'">
                                    <div class="form-group-sm" ng-class="{ 'has-error' : formrosetta.term.refid.$invalid && !formrosetta.term.refid.$pristine}">
                                        <label class="text-left">Refid:</label>
                                        <input type="text" name="refid" class="form-control  text-left" ng-model="formData.term.refid" ng-pattern="/MDCX_/" ng-required="true">
                                        <p ng-show="formrosetta.refid.$error.pattern">Refid must start with MDCX_</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="text-left">Partition #:</label>
                                    <input ng-init="partition=formData.term.partition" type="text" only-digits name="partition" class="form-control  text-left" ng-model="formData.term.partition" value="partition" disabled>
                                </div>
                                <div class="col-sm-4">
                                    <label class="text-left">Code10:</label>
                                    <input ng-init="code10=formData.term.code10" type="text" only-digits name="code10" class="form-control  text-left" ng-model="formData.term.code10" value="code10" disabled>
                                </div>
                                <div class="col-sm-4">
                                    <label class="text-left">CF_Code10:</label>
                                    <input ng-init="cfCode10=formData.term.cfCode10" type="text" only-digits name="cfCode10" class="form-control  text-left" ng-model="formData.term.cfCode10" value="cfCode10" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="miscInfo formField">
                <div class="form-group-sm" ng-class="{ 'has-error' : tags.$invalid && !tags.$pristine}">
                    <label class="text-left">Tags:</label>
                    <tags-input class="bootstrap" ng-model="tags" placeholder="Add a tag" replace-spaces-with-dashes="false">
                        <auto-complete source="loadTags($query)" min-length="0" debounce-delay="0" max-results="10"></auto-complete>
                    </tags-input>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <!-- createMember() WILL CREATE NEW Members -->
    <button ng-show="editmode" type="submit" class="btn btn-primary" ng-click="editEnum()">Edit Enum</button>
    <button ng-show="!editmode" type="submit" class="btn btn-primary" ng-click="addEnum()">Add Enum</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
