<div class="modal-header">
    <h3 ng-show="editmode" class="modal-title">Register Refid</h3>
</div>
<div class="modal-body">
    <form class="formrosetta" name="formrosetta">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="termInfo formField">
                        <div class="form-group-sm" ng-class="{ 'has-error' : formrosetta.refid.$invalid && !formrosetta.refid.$pristine}">
                            <div class="form-group-sm">
                                <div>
                                    <div class="form-group-sm" ng-class="{ 'has-error' : formrosetta.term.refid.$invalid && !formrosetta.term.refid.$pristine}">
                                        <label class="text-left">Refid:</label>
                                        <input type="text" name="refid" class="form-control  text-left" ng-model="formData.term.refid" ng-pattern="/MDC_/" ng-required="true">
                                        <p ng-show="formrosetta.refid.$error.pattern">Refid must start with MDC_</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="text-left">Partition #:</label>
                                    <input ng-init="partition=formData.term.partition" type="text" only-digits name="partition" class="form-control  text-left" ng-model="formData.term.partition" value="partition" required>
                                </div>
                                <div class="col-sm-4">
                                    <label class="text-left">Code10:</label>
                                    <input ng-init="code10=formData.term.code10" type="text" only-digits name="code10" class="form-control  text-left" ng-model="formData.term.code10" value="code10" required>
                                </div>
                                <div class="col-sm-4">
                                    <label class="text-left">CF_Code10:</label>
                                    <input ng-init="cfCode10=formData.term.cfCode10" type="text" only-digits name="cfCode10" class="form-control  text-left" ng-model="formData.term.cfCode10" value="cfCode10" required>
                                </div>
                                <div class="col-sm-4">
                                    <label class="text-left">Systematic Name:</label>
                                    <input ng-init="cfCode10=formData.term.systematicName" type="text" name="systematicName" class="form-control  text-left" ng-model="formData.term.systematicName" value="systematicName">
                                </div>
                                <div class="col-sm-4">
                                    <label class="text-left">Common Term:</label>
                                    <input ng-init="cfCode10=formData.term.commonTerm" type="text" name="commonTerm" class="form-control  text-left" ng-model="formData.term.commonTerm" value="commonTerm">
                                </div>
                                <div class="col-sm-4">
                                    <label class="text-left">Acronym</label>
                                    <input ng-init="cfCode10=formData.term.acronym" type="text" name="acronym" class="form-control  text-left" ng-model="formData.term.acronym" value="acronym">
                                </div>
                                <div class="col-sm-4">
                                    <label class="text-left">Term Description</label>
                                    <input ng-init="cfCode10=formData.term.termDescription" type="text" name="termDescription" class="form-control  text-left" ng-model="formData.term.termDescription" value="termDescription">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <!-- createMember() WILL CREATE NEW Members -->
    <button ng-show="editmode" type="submit" class="btn btn-primary" ng-click="editRefid()">Register Refid</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
