<div class="modal-header">
    <h3 ng-show="!editmode" class="modal-title">Add rosetta term</h3>
    <h3 ng-show="editmode" class="modal-title">Edit rosetta term</h3>
</div>
<div class="modal-body">
    <form name="formrosetta">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="form-group-sm" ng-class="{ 'has-error' : groups.$invalid && !groups.$pristine}">
                        <label class="text-left">Groups:</label>
                        <tags-input class="bootstrap" ng-model="groups" placeholder="Add a group" replace-spaces-with-dashes="false">
                            <auto-complete source="loadGroups($query)" min-length="0" debounce-delay="0" max-results="10"></auto-complete>
                        </tags-input>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group-sm" ng-class="{ 'has-error' : formrosetta.vendorDescription.$invalid && !formrosetta.vendorDescription.$pristine}">
                        <label class="text-left">Vendor Description:</label>
                        <input type="text" name="vendorDescription" class="form-control  text-left" ng-model="formData.vendorDescription" ng-required="true">
                    </div>
                    <div class="form-group-sm" ng-class="{ 'has-error' : formrosetta.displayName.$invalid && !formrosetta.displayName.$pristine}">
                        <label class="text-left">Display Name:</label>
                        <input type="text" name="displayName" class="form-control  text-left" ng-model="formData.displayName" ng-required="true">
                    </div>
                    <div class="form-group-sm" ng-class="{ 'has-error' : formrosetta.vendorUom.$invalid && !formrosetta.vendorUom.$pristine}">
                        <label class="text-left">Vendor UOM:</label>
                        <input type="text" name="vendorUom" class="form-control  text-left" ng-model="formData.vendorUom" ng-required="true">
                    </div>
                    <div class="form-group-sm" ng-class="{ 'has-error' : formrosetta.vendorVmd.$invalid && !formrosetta.vendorVmd.$pristine}">
                        <label class="text-left">Vendor VMD:</label>
                        <input type="text" name="vendorVmd" class="form-control  text-left" ng-model="formData.vendorVmd" ng-required="true">
                    </div>
                    <div class="form-group-sm" ng-class="{ 'has-error' : formrosetta.refid.$invalid && !formrosetta.refid.$pristine}">
                        <label class="text-left">Refid:</label>
                        <input type="text" name="refid" class="form-control  text-left" ng-model="formData.refid" ng-required="true" required>
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                <div ng-show="(formData.unitGroups.length>0 || formData.units.length>0)">
                    <table ng-show="formData.unitGroups.length>0" class="table table-hover table-condensed table-striped">
                        <thead class="levelOne">
                            <tr>
                                <th>Group Name</th>
                            </tr>
                        </thead>
                        <tbody data-ng-repeat="unitGroup in formData.unitGroups">
                            <tr class="hoverhand" title="Expand" data-ng-click="selectUnitGroupRow($index, unitGroup.groupName)">
                                <td><i ng-show="unitGroupIsExpanded[$index]" class="glyphicon glyphicon-menu-down"></i><i ng-show="!unitGroupIsExpanded[$index]" class="glyphicon glyphicon-menu-right"></i> {{unitGroup.groupName}}</td>
                            </tr>
                            <tr ng-show="unitGroupIsExpanded[$index]">
                                <td colspan="2">
                                    <div style="padding-left:10px;">
                                        <table class="table table-hover table-condensed table-striped">
                                            <thead class="levelTwo">
                                                <tr>
                                                    <th>REFID</th>
                                                    <th>UCUMS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="unit in unitGroup.units">
                                                    <td>{{unit.refid}}</td>
                                                    <td>{{unit | UcumsAsStringFromUnit}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table ng-show="formData.units.length>0" class="table table-hover table-condensed table-striped">
                        <thead class="levelOne">
                            <tr>
                                <th>REFID</th>
                                <th>UCUMS</th>
                            </tr>
                        </thead>
                        <tbody data-ng-repeat="unit in formData.units">
                            <tr>
                                <td>{{unit.refid}}</td>
                                <td>{{unit | UcumsAsStringFromUnit}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="(formData.enumGroups.length>0 || formData.enums.length>0)">
                    <table ng-show="formData.enumGroups.length>0" class="table table-hover table-condensed table-striped">
                        <thead class="levelOne">
                            <tr>
                                <th>Group Name</th>
                            </tr>
                        </thead>
                        <tbody data-ng-repeat="enumGroup in formData.enumGroups">
                            <tr class="hoverhand" title="Expand" data-ng-click="selectEnumGroupRow($index, enumGroup.groupName)">
                                <td><i ng-show="enumGroupIsExpanded[$index]" class="glyphicon glyphicon-menu-down"></i><i ng-show="!enumGroupIsExpanded[$index]" class="glyphicon glyphicon-menu-right"></i> {{enumGroup.groupName}}</td>
                            </tr>
                            <tr ng-show="enumGroupIsExpanded[$index]">
                                <td colspan="2">
                                    <div style="padding-left:10px;">
                                        <table class="table table-hover table-condensed table-striped">
                                            <thead class="levelTwo">
                                                <tr>
                                                    <th>REFID</th>
                                                    <th>TOKEN</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="enum in enumGroup.enums">
                                                    <td>{{enum.refid}}</td>
                                                    <td>{{enum.token}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table ng-show="formData.enums.length>0" class="table table-hover table-condensed table-striped">
                        <thead class="levelOne">
                            <tr>
                                <th>REFID</th>
                                <th>TOKEN</th>
                            </tr>
                        </thead>
                        <tbody data-ng-repeat="enum in formData.enums">
                            <tr>
                                <td>{{enum.refid}}</td>
                                <td>{{enum.token}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>



        </div>
        <div class="row">
            <div class="form-group-sm" ng-class="{ 'has-error' : tags.$invalid && !tags.$pristine}">
                <label class="text-left">Tags:</label>
                <tags-input class="bootstrap" ng-model="tags" placeholder="Add a tag" replace-spaces-with-dashes="false">
                    <auto-complete source="loadTags($query)" min-length="0" debounce-delay="0" max-results="10"></auto-complete>
                </tags-input>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <!-- createMember() WILL CREATE NEW Members -->
    <button ng-show="editmode" type="submit" class="btn btn-primary" ng-click="editRosetta()">Edit rosetta term</button>
    <button ng-show="!editmode" type="submit" class="btn btn-primary" ng-click="addRosetta()">Add rosetta term</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
